.btn-sm { }
.btn-md { }
.btn-lg { }

.btn-gradient {
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 14px;
  background: linear-gradient(105.3deg, #FEA31F 0%, #E3496B 100%);
  border-radius: 3px;
  border: none !important;
  margin-bottom: 1.25%;
  line-height: 1.5em;
}

.btn-interests {
  background-color: #6c757d !important;
  border-radius: 25px !important;
  width: 120px;
  border-style: none !important;
  margin: 15px;
}

.btn-interests.active {
  background: linear-gradient(105.3deg, #FEA31F 0%, #E3496B 100%) !important;
}