.carousel {
  width: 70vw;
  margin: 1.5rem;
}

.carousel-inner {
  height: auto;
}

.carousel-control-prev {
  margin-left: -15%;
}

.carousel-control-next {
  margin-right: -15%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.card-going {
  width: 40vw;
  margin-bottom: 2vh;
}

@media only screen and (max-width: 600px) {
  .card-going {
    width: 80vw;
    margin-bottom: 2vh;
  }
}

.card-header-info {
  padding: 1rem 1.25rem;
}

.card-title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  color: #21252A;
}

.card-subtitle {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  color: #868E96;
}

.chat-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: #343A40;
}

.chat-time {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.search-box-form {
  width: 20vw;
}

#search-box-input {
  display: none;
}

.main-content {
  width: 90vw;
}

.card-going {
  width: auto;
  box-shadow: 2px 2px 15px rgba(69, 69, 69, 0.25);
  border-radius: 5px;
}

.card-going > .card-img {
}

.card-going > .card-header {
  border-bottom: none !important;
  background-color: white !important;
  padding: 0 !important;
}

.card-going > .card-footer {
  border-top: none !important;
  background-color: white !important;
}

.card-body {
  background-color: #F9F9F9 !important;
}

.chart-card {
  width: 90vw;
  margin-bottom: 5vh;
  border: none !important;
}

.chart-card > .card-body {
  background-color: white !important;
}

.profile-card {
  background: #FFFFFF;
  box-shadow: 2px 2px 15px rgba(69, 69, 69, 0.25);
  border-radius: 5px;
  width: 90vw;
  margin-bottom: 5vw;
}


@media screen and (min-width: 1200px) {
  .profile-card {
    background: #FFFFFF;
    box-shadow: 2px 2px 15px rgba(69, 69, 69, 0.25);
    border-radius: 5px;
    width: 50vw;
    margin-bottom: 5vw;
  }

  .chart-card {
    width: 50vw;
    margin-bottom: 5vh;
    border: none !important;
  }

  .main-content {
    width: 50vw;
  }
}
