.explore-title{
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  color: #21252A;
}

.modal-header {
  border-bottom: none !important;
}

.modal-footer {
  border-top: none !important;
  margin-top: 20px;
}

#tag-modal-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  margin: 20px;
  margin-bottom: 0px;
}

#date-modal-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  margin: 20px;
  margin-bottom: 0px;
}

.rdrDefinedRangesWrapper{
  display: none !important;
}

.rdrDayToday .rdrDayNumber span::after{
  background: none;
  background-color:#E3496B !important;
}

.rdrDateRangePickerWrapper{
  zoom: 1.27;
    -moz-transform: scale(0.5);
}