.page-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  color: #21252A;
}

.modal-content{
  margin:auto;
  max-width:100%;
  width: auto;
}

.modal-header {
  border-bottom: none !important;
}

.modal-footer {
  border-top: none !important;
  margin-top: 20px;
}

#tag-modal-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  margin: 20px;
  margin-bottom: 0px;
}

#date-modal-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  margin: 20px;
  margin-bottom: 0px;
}

.rdrDefinedRangesWrapper{
  display: none !important;
}

.rdrDayToday .rdrDayNumber span::after{
  background: none;
  background-color:#E3496B !important;
}

.rdrDateRangePickerWrapper{
  zoom: 1.725;
}

@media (max-width:660px){
  .rdrDateRangePickerWrapper{
    zoom: 1.25;
      -moz-transform: scale(0.5);
  }
}

@media (max-width:460px){
  .rdrDateRangePickerWrapper{
    zoom: 0.95;
      -moz-transform: scale(0.5);
  }
}

@media (max-width:370px){
  .rdrDateRangePickerWrapper{
    zoom: 0.75;
      -moz-transform: scale(0.5);
  }
}

.graph-percentage{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}

.modal-dialog{
  max-width: 650px !important;
}

@media (max-width:670){
  .modal-dialog{
    position: relative;
    width: auto;
    margin: 0.5rem !important;
    max-width: 500px !important;
    pointer-events: none;
  }
}