.expl_txt{

  font-style: normal;
  font-weight: 800;
  position: relative;
  left: 395px;
  top: 40px;
  font-size: 24px;
  font-weight: bold;
  background-size: 100px 100px;

}

.expl_box{
  display:block;
  position: relative;
  border-style: solid;
  border-color: #CFD4DA;
  left: 395px;
  top: 100px;
  width: 900px;
  height: 400px;
  /* Corner Radius: 3px;
  Stroke Color Style: Neutral/400; */
  Align: Inside;
  overflow-y: scroll;
}

.expl_events{
  display:block;
  position: relative;

  left: 155px;
  top: 30px;
  width: 600px;
  height: 350px;
  /* Corner Radius: 5px
  Fill: Solid
  #FFFFFF
  Effect: Drop Shadow
  Radius: 15px
  Offset: 2px, 2px
  rgba(69, 69, 69, 0.25) */
  Align: Inside;
  box-shadow: 3px;
}

.expl_events_col{
  position:absolute;
  width: 540px;
  height: 205px;
  /* Top Left Radius: 3px
  Top Right Radius: 3px */
  Opacity: 100%;
  Blend: Darken;
  /* Fill Color Style: Gradient 1; */
  Fill: Linear Gradient;
  /* #FEA31F @ 0%;
  #E3496B @ 100%; */
  background: linear-gradient(105.3deg, #FEA31F 0%, #E3496B 100%) !important;
  opacity: 1;
  z-index: -2 ;

}
.expl_events_info{
  position:absolute;
  top: 205px;
  width: 540px;
  height: 145px;
  border-style: solid;
  border-color: #CFD4DA;


}
.expl_btn-filter {
    Fill: Linear Gradient;
  background-color: linear-gradient(105.3deg, #FEA31F 0%, #E3496B 100%) !important;
  margin: 15px;
}

.expl_imag{
  position:absolute;
  z-index:-1;
}

.expl_events_info_title{
  position:absolute;
  top: 15px;
  left: 30px;
  font-family: Poppins;
  font-style: Bold;
  font-size: 20px;
  font-weight: bold;
  line-height: 36px;
  line-height: 100%;
  Align: Left;
  vertical-align: Top;

}

.expl_events_info_going{
  position:absolute;
  top: 85px;
  left: 450px;
  Align: Left;
  vertical-align: Top;

}

.expl_events_info_chatimg{
  position:absolute;
  top: 85px;
  left: 30px;
  Align: Left;
  vertical-align: Top;

}

.expl_events_info_location{
  position:absolute;
  top: 50px;
  left: 30px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: bold;
  line-height: 21px;
  line-height: 100%;
  Align: Left;
  vertical-align: Top;

}

.expl_scrollbar{


}
