.txt-sm { font-size: 14px; line-height: 28px; }
.txt-md { font-size: 22px; line-height: 42px; }
.txt-lg { font-size: 28px; line-height: 56px; }
.txt-bold { font-weight: bold; }

.txt-gradient {
  font-family: 'Poppins';
  background: -webkit-linear-gradient(101.24deg, #FEA31F 0%, #E3496B 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.txt-title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 5rem;
  color: #000000;
}

.txt-subtitle {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
}

.txt-subtext {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  color: #343A40;
}

.txt-align-center {
  text-align: center;
}