body {
 padding: 2.25%;
}

.responsive-subcontainer {
  width: 550px;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #ED2B5F;
  border-radius: 50%;
  display: inline-block;
  margin: 0;
  padding: 0;
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  .responsive-subcontainer {
    width: 90vw;
  }
    
}