@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,800&display=swap');

.App {
    background: #FFF7EA;
}

.landing {
    height: 100vh;
    width: 100vw;
    padding: 3.25vw;
}

.dashboard {
    height: 100vh;
    width: 100vw;
}

.page-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.page-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 96px;
    line-height: 144px;
    color: #000000;
}

.page-subtitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.landing-page-subtitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    margin-top: 4vh;
}

.landing-page-subtext {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #343A40;
    margin-top: 5vh;
}

.align-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.align-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.btn-gradient {
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 14px;
    background: linear-gradient(105.3deg, #FEA31F 0%, #E3496B 100%);
    border-radius: 3px;
    border: none;
    margin-bottom: 1.25%;
    line-height: 1.5em;
}

.btn-sm { }
.btn-md { }
.btn-lg { }

.txt-gradient {
    font-family: 'Poppins';
    background: -webkit-linear-gradient(101.24deg, #FEA31F 0%, #E3496B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.txt-sm { font-size: 14px; line-height: 28px; }
.txt-md { font-size: 22px; line-height: 42px; }
.txt-lg { font-size: 28px; line-height: 56px; }
.txt-bold { font-weight: bold; }

.page-subtext {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #343A40;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #ED2B5F;
  border-radius: 50%;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.login-form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    min-width: 400px;
    max-height: 175px;
    min-height: 175px;
}

.login-form-control {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}

.success-image {
    margin-bottom: 1.25%;
}

.interests-badge {
    padding: 10px;
    width: 85px;
    margin: 4px;
    border-radius: 15px;
}

.circle {
    fill: none;
    border-width: 10px;
    border: solid;
    border-radius: 48px;
    width: 96px;
    height: 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stack {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    align-items: center;
}

.active-user {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 45px;
    color: #000000;  
}

.dashboard-nav {
    margin-left: 2vw;
    border: solid;
    border-color: #1E2125;
    border-width: 0 0 4px 0;
}

.dashboard-nav-link {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #000000 !important;
    padding: 10px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    background-color: #1E2125 !important;
    color: #A3ACB4 !important;
}

.nav-underline {
    height: 4px;
    background-color: #1E2125;
    margin-top: -2.25px;
}

.footer {
    height: 5vh;
}

@media only screen and (max-width: 991px) {
    .dashboard-nav {
        border: none;
        margin-bottom: 25px;
    }
    
    .stack {
        display: flex;
        flex-direction: column;
        margin-right: auto;
        width: auto;
        margin-left: 2vw;
    }

}